*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box {
    border: 1px solid black;
    background-color: white;
    width: 275px;
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    margin-bottom: 5px;
}
.noted {
    font-size: 0.75em;
}
.notetext {
    font-size: 2.0em;
}

