<div class="box">
    <form ng-submit="createUser1()">
        <h2> Player 1 </h2>
        <label for=""> Github Username </label>
        <input type="text" ng-model="username1">
        <input class="button" type="submit" value="Get User"> 
    </form>
</div>

<div class="box">
    <form ng-submit="createUser2()">
        <h2> Player 2 </h2>
        <label for=""> Github Username </label>
        <input type="text" ng-model="username2">
        <input class="button" type="submit" value="Get User"> 
    </form>
</div>

