<div class="box" ng-if="user1.score>user2.score">
    <h1> 1st Place </h1>
    <h4> User : {{user1.name}} Score: {{user1.score}} </h4>
    <h1> 2nd Place </h1>
    <h4> User: {{user2.name}} Score: {{user2.score}} </h4>
</div>

<div class="box" ng-if="user2.score>user1.score">
    <h1> 1st Place </h1>
    <h4> User : {{user2.name}} Score: {{user2.score}} </h4>
    <h1> 2nd Place </h1>
    <h4> User: {{user1.name}} Score: {{user1.score}} </h4>
</div>

<input ng-click="reset()" class="button" type="submit" value="Reset">