<!DOCTYPE html>
<html>
<head>
   <title> Ninja Gold </title>
</head>
<body>
    <h2> Your Gold: {{request.session.count}} </h2>
    <div>
        <h3> Farm </h3>
        <p> (earns 10-20 golds) </p>
        <form action="/process" method="post">
            {% csrf_token %}
            <input type="hidden" name="building" value="farm">
            <input type="submit" value="Find Gold!">
        </form>
    </div>
    <div>
        <h3> Cave </h3>
        <p> (earns 5-10 golds) </p>
        <form action="/process" method="post">
            {% csrf_token %}
            <input type="hidden" name="building" value="cave">
            <input type="submit" value="Find Gold!">
        </form>
    </div>
    <div>
        <h3> House </h3>
        <p> (earns 2-5 golds) </p>
        <form action="/process" method="post">
            {% csrf_token %}
            <input type="hidden" name="building" value="house">
            <input type="submit" value="Find Gold!">
        </form>
    </div>
    <div>
        <h3> Casino </h3>
        <p> (earns/takes 0-50 golds) </p>
        <form action="/process" method="post">
            {% csrf_token %}
            <input type="hidden" name="building" value="casino">
            <input type="submit" value="Find Gold!">
        </form>
    </div>
    <form action="/reset">
        <input type="submit" value="Reset">
    </form>
    <div>

    <!--{{request.session.log}}-->

    {% for activity in request.session.log %}
    <p>{{activity}}</p>
    {% endfor %}
    
</body>
</html>