<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> The great button game </title>
</head>
<body>
    <h1> The Button has been pushed <%= count.counter %> time(s) </h1>
    <p> Push the button to update the count! </p>
    <p> <a href="/process"> <input type="submit"  name="epic" value="Push the epic button"> </a> </p>
    <p> <a href="/reset"> <input type="submit"  name="reset" value="Reset count"> </a> </p>


</body>
</html>